body {
    font-family: 'Lato', sans-serif;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 24px;
    margin-right: 24px;
}

.left-side, .right-side {
    display: flex;
}

.left-side {
    flex: 1 1 50%;
    flex-flow: column wrap;
}

.right-side {
    flex: 1;
    margin-left: 24px;
    min-width: 450px;
}

[class*="col-md-*"] {
    padding-left: 20px;
    padding-right: 20px;
}

.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
    color: #3E98CA;
}

.panel {
    -webkit-box-shadow: 2px 2px 4px 0px rgba(182,182,182,1);
    -moz-box-shadow: 2px 2px 4px 0px rgba(182,182,182,1);
    box-shadow: 2px 2px 4px 0px rgba(182,182,182,1);
    border: 1px solid rgba(182,182,182,0.25);
    border-radius: 5px;
}

.anomaly-journal-panel .panel-body {
    padding: 0 20px;
}

.header {
    background-color: #EFF0F0;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-top: 64px solid teal;
    box-sizing: content-box;
}

.material-icons {
    color: #15786E;
    font-size: 36px;
}

.info-link {
    display: flex;
    align-items: center;
    color: inherit;
}

.info-link:hover {
    color: inherit;
}

.panel {
    margin-top: 24px;
}

.panel-header {
    position: relative;
    padding-left: 20px;
    border: none;
}

.panel-header:after {
    position: absolute;
    content: ' ';
    width: calc(100% - 40px);
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    bottom: 0;
    left: 20px;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.metric-wrapper {
    line-height: 1;
    margin: 0;
    padding-bottom: 16px;
    color: #136C92;
    position: relative;
}

.metric-wrapper:after {
    border-bottom: 2px solid #899CAC;
    content: ' ';
    position: absolute;
    bottom: 0;
    width: 74%;
    left: 13%;
}

.metric-value {
    font-size: 84px;
}

.metric-unit {
    font-size: 42px;
    font-weight: 300;
}

.metrics {
    display: flex;
    justify-content: space-around;
}

.metric {
    margin: 24px 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    border-right: 3px solid rgba(0, 0, 0, 0.1);
}

.metric:last-child {
    border-right: none;
}

.contextual-date {
    font-weight: 300;
    color: #136C92;
    font-size: 24px;
    padding: 16px;
}

.graph {
    min-height: 400px;
}

.graph-panel .panel-header:after {
    border: none;
}

.graph-panel .panel-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.graph-panel .panel-title a {
    text-transform: uppercase;
    margin-right: 8px;
    font-size: 12px;
}

tbody tr:nth-child(odd) {
    background-color: #F4F4F4;
}

.anomaly-green {
    color: green;
}

.anomaly-red {
    color: red;
}

.anomaly-yellow {
    color: #B7AF54;
}

time {
    white-space: nowrap;
}
