<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Test Executions</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.js"
            integrity="sha256-58J0lufc42SnFtW9x/nNt8JDtRQsjbtk1gzjPI4Fypw=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/pui.css"/>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
    <header class="header">
        <h1>Logmon Dashboard</h1>
        <a class="info-link" href="https://github.com/cloudfoundry/loggregator" target="_blank">
            <i class="material-icons">info_outline</i>
            Info
        </a>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-16">
                <div class="row">
                    <div class="panel bg-neutral-11 box-shadow-2">
                        <div class="panel-header">
                            <div class="panel-title">Log Reliability</div>
                        </div>
                        <div class="panel-body metrics">
                            <div class="metric">
                                <p class="metric-wrapper border-bottom">
                                    <span class="metric-value" th:text="${page.todaysReliability}"></span>
                                    <span class="metric-unit">%</span>
                                </p>
                                <p class="contextual-date">Today</p>
                                <p class="date" th:text="${page.today}"></p>
                            </div>
                            <div class="metric" th:if="${page.hasMultidayData}">
                                <p class="metric-wrapper border-bottom">
                                    <span class="metric-value" th:text="${page.allTimeReliability}"></span>
                                    <span class="metric-unit">%</span>
                                </p>
                                <p class="contextual-date"
                                   th:text="'Last ' + ${page.allTimeDuration.toDays()} + ' Days'">
                                </p>
                                <p class="date" th:text="${page.allTimeDateRange}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="graph-panel panel bg-neutral-11 box-shadow-2">
                        <div class="panel-header">
                            <div class="panel-title">
                                <span>Test Log Chart</span>
                                <a class="link-text" href="stats">
                                    Review Data
                                </a>
                            </div>
                        </div>
                        <div class="panel-body graph">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel bg-neutral-11 box-shadow-2">
                    <div class="panel-header">
                        <div class="panel-title">Anomaly Journal</div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-no-borders">
                            <thead>
                            <tr>
                                <th>Time</th>
                                <th colspan="3">Event Summary</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="anomaly : ${page.anomalies}">
                                <td><time th:text="${anomaly.timestamp}"></time></td>
                                <td colspan="3" th:text="${anomaly.description}"></td>
                                <td class="txt-r">
                                    <th:block th:switch="${anomaly.level.toString()}">
                                        <i th:case="'GREEN'" class="material-icons txt-m anomaly-green">error</i>
                                        <i th:case="'YELLOW'" class="material-icons txt-m anomaly-yellow">warning</i>
                                        <i th:case="'RED'" class="material-icons txt-m anomaly-red">warning</i>
                                    </th:block>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript" src="/js/graph.js"></script>
    <script type="application/javascript" src="/js/app.js"></script>
</body>
</html>
