<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Logmon</title>
    <style>
        img {
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Welcome to Logmon</h1>
    <p>Run `cf logs cf-logmon` to view logs.</p>
    <img src="http://img07.deviantart.net/d5fd/i/2010/252/6/9/the_log_monster_by_crowsrock-d2ycjfc.jpg" alt="Log monster"/>
    <div class="metric metric-total-writes" th:text="${writeCount}">0</div>
    <div class="metric metric-total-reads" th:text="${readCount}">0</div>
</body>
</html>
